@import "variables";

body {
    background: $blue-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-family: $font-stack;
    margin: 0;

    @media screen and (min-width: $breakpoint-m){
        padding: 0 15px;
    }
}
.sign-in-link {
    text-align: right;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 25px;
    a {
        color: $grey;
        font-weight: bold;

        &:hover {
            text-decoration: none;
        }
    }
}
.home-panel {
    margin-top: 15px;
    margin-bottom: 30px;
    background: $white;
    // border-bottom: 4px solid rgba($grey, 0.2);
    box-shadow: 0px 4px 8px transparentize($grey, 0.9);
    max-width: 960px;
    width: 100%;
    text-align: center;

    @media screen and (min-width: $breakpoint-m){
        margin-top: 50px;
        margin-bottom: 50px;
    }

    h2, h3 {
        margin: 0 auto;
        font-weight: normal;
        font-size: 25px;
        max-width: 90%;

        @media screen and (min-width: $breakpoint-m){
            font-size: 36px;
            max-width: 75%;
        }
    }
    .home-panel--logo {
        width: 100%;
        max-width: 180px;
        height: auto;
        @media screen and (min-width: $breakpoint-m){
            max-width: 300px;
        }
    }
    .home-panel--content {
        padding: 30px;

        .home-panel--content---form {
            max-width: 600px;
            margin: 0 auto;
            @media screen and (min-width: $breakpoint-m){
                margin-bottom: 30px;
            }

            h3 {
                margin-bottom: 15px;
            }

            #mce-EMAIL {
                font-family: $font-stack;
                border-radius: 0;
                border: 2px solid $grey;
                height: 42px;
                padding: 0px 0.6em;
                transition: box-shadow 0.23s ease-in-out 0s;

                &:focus {
                    outline: none;
                    box-shadow: 0px 0px 0px 4px $yellow;
                }
                &:hover {
                    background: $pale;
                }
            }
            #mc-embedded-subscribe {
                height: 42px;
                background-color: $blue;
                font-weight: bold;
                border-radius: 0;
                font-family: $font-stack;
                transition: none;
                transition: box-shadow 0.23s ease-in-out 0s;

                @media screen and (min-width: $breakpoint-m){
                    margin-left: -5px;
                }

                &:focus {
                    outline: none;
                    box-shadow: 0px 0px 0px 4px $yellow;
                }
                &:hover {
                    background: rgba($blue, 0.8);
                }
            }
        }
    }
    .home-panel--video {
        @media screen and (min-width: $breakpoint-m){
            margin: 25px 0;
        }
    }
}